@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  * > [aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

@layer components {
  .compatible-dark {
    transition: background-color 0.2s, color 0.2s;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

div {
  line-height: normal;
}

div > .ant-picker-calendar-date-content {
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf transparent;
}

* > .ant-form-item {
  margin-bottom: 16px;
}
