@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  * > [aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

@layer components {
  .compatible-dark {
    transition: background-color 0.2s, color 0.2s;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

div {
  line-height: normal;
}

div > .ant-picker-calendar-date-content {
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf transparent;
}

* > .ant-form-item {
  margin-bottom: 16px;
}

.button {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, scale 0.2s;
  font-weight: 400;

  .icon {
    transition: scale 0.2s;
  }

  &:hover {
    .icon {
      scale: 1.1;
    }
  }

  &:active {
    scale: 0.95;
  }
}

.button-neutral-opaque {
  background-color: #a6a7ae !important; /* gray-500 */
  color: #f6f6f7 !important; /* gray-50 */

  &:active {
    background-color: #929299 !important; /* gray-600 */
  }
}

.button-neutral-ghost {
  background-color: #efeff0 !important; /* gray-100 */
  color: #67676c !important; /* gray-800 */

  &:active {
    background-color: #e1e2e4 !important; /* gray-200 */
  }
}

.button-primary-opaque {
  background-color: #10b985 !important; /* green-500 */
  color: #ecfdf8 !important; /* green-50 */

  &:active {
    background-color: #059669 !important; /* green-600 */
  }
}

.button-primary-ghost {
  background-color: #d1faed !important; /* green-100 */
  color: #047854 !important; /* green-700 */

  &:active {
    background-color: #a7f3db !important; /* green-200 */
  }
}
